# JSON

In [19]:
from pprint import pprint

import os
import json
import pandas as pd

## Working with Files

To read JSON files.

In [7]:
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
first_json = pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [15]:
try:
  df = pd.read_json('./_data/nested.json')
except ValueError:
  print('Cannot read nested JSON.')

Cannot read nested JSON.

In [20]:
with open('./_data/nested.json') as f:
  nested_json = json.load(f)

print(type(nested_json))
pprint(nested_json)

<class 'dict'>
{'article': [{'author': 'Allen',
              'edition': 'first',
              'id': '01',
              'language': 'JSON'},
             {'author': 'Aditya Sharma',
              'edition': 'second',
              'id': '02',
              'language': 'Python'}],
 'blog': [{'URL': 'datacamp.com', 'name': 'Datacamp'}]}

To write JSON files.

In [9]:
os.makedirs('./_data', exist_ok=True)
first_json.to_json('./_data/json_columns.json', orient='columns')
first_json.to_json('./_data/json_index.json', orient='index')