In [1]:
# %matplotlib inline
import pandas as pd

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [2]:
titles = pd.read_csv('./_data/Pandas_exercise/imdb_pandas/titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [3]:
cast = pd.read_csv('./_data/Pandas_exercise/imdb_pandas/cast.csv', sep=",")
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [14]:
no_of_titles = titles.shape
print(f'There are {no_of_titles[0]} movies in the title DataFrame.')

There are 232330 movies in the title DataFrame.

### What are the earliest two films listed in the titles dataframe?

In [43]:
titles_by_year = titles.sort_values(by='year', ascending=True)
titles_by_year.loc[:2, :]['year'].head(2)

177757    1894
215272    1898
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [48]:
titles_hamlet = titles[titles['title'] == 'Hamlet']
print(f'There are {titles_hamlet.shape[0]} movie(s) that are titled \'Hamlet\' in the DataFrame.')

There are 18 movie(s) that are titled 'Hamlet' in the DataFrame.

### How many movies are titled "North by Northwest"?

In [47]:
titles_north_by_northwest = titles[titles['title'] == 'North by Northwest']
print(f'There are {titles_north_by_northwest.shape[0]} movie(s) that are titled \'North by Northwest\' in the DataFrame.')

There are 1 movie(s) that are titled 'North by Northwest' in the DataFrame.

### When was the first movie titled "Hamlet" made?

In [51]:
titles_hamlet_by_year = titles_hamlet.sort_values(by='year')
print(f'The first movie titled \'Hamlet\' was made in {titles_hamlet_by_year.iloc[0, 1]}.')

The first movie titled 'Hamlet' was made in 1910.

### List all of the "Treasure Island" movies from earliest to most recent.

In [55]:
titles_treasure_island_by_year = titles[titles['title'] == 'Treasure Island'].sort_values(by='year')
titles_treasure_island_by_year

                  title  year
206027  Treasure Island  1918
51287   Treasure Island  1920
191050  Treasure Island  1934
96934   Treasure Island  1950
89534   Treasure Island  1972
111343  Treasure Island  1973
205397  Treasure Island  1985
179354  Treasure Island  1999

### How many movies were made in the year 1950?

In [59]:
year = 1950
titles_1950 = titles[titles['year'] == year]
print(f'There were {titles_1950.shape[0]} movies made in the year {year}.')

There were 1099 movies made in the year 1950.

### How many movies were made in the year 1960?

In [60]:
year = 1960
titles_1960 = titles[titles['year'] == year]
print(f'There were {titles_1960.shape[0]} movies made in the year {year}.')

There were 1501 movies made in the year 1960.

### How many movies were made from 1950 through 1959?

In [64]:
years = [1950, 1960]
titles_1950_decade = titles[
  (titles['year'] >= years[0]) &
  (titles['year'] < years[1])]
print(f'There were {titles_1950_decade.shape[0]} movies made between {years[0]} and {years[1] - 1}.')

There were 12711 movies made between 1950 and 1959.

### In what years has a movie titled "Batman" been released?

In [65]:
titles_batman = titles[titles['title'] == 'Batman']
titles_batman['year']

56000    1989
74608    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [69]:
cast_inception = cast[cast['title'] == 'Inception']
print(f'There were {cast_inception.shape[0]} roles in the movie \'Inception\'.')

There were 77 roles in the movie 'Inception'.

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [74]:
cast_inception_unranked = cast_inception[cast_inception['n'].isnull()]
print(f'There are {cast_inception_unranked.shape[0]} roles not ranked by an \'n\' value.')

There are 26 roles not ranked by an 'n' value.

### But how many roles in the movie "Inception" did receive an "n" value?

In [78]:
cast_inception_ranked = cast_inception[~cast_inception['n'].isnull()]
print(f'There are {cast_inception_ranked.shape[0]} roles ranked by an \'n\' value.')

There are 51 roles ranked by an 'n' value.

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [80]:
cast_north_by_northwest = cast[cast['title'] == 'North by Northwest']
cast_north_by_northwest_ranked = cast_north_by_northwest[~cast_north_by_northwest['n'].isnull()]
cast_north_by_northwest_ranked.sort_values(by='n')

,title,year,name,type,character,n
845516,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3382934,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1413409,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3043261,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
345822,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2941468,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1644542,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1236791,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2372617,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1757154,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
646039,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2225858,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
450691,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1463316,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
199768,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1343025,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [83]:
cast_sleuth_1972 = cast[
  (cast['title'] == 'Sleuth') &
  (cast['year'] == 1972)]
cast_sleuth_1972.sort_values(by='n')

,title,year,name,type,character,n
1654402,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
316652,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
362592,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1421434,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2635708,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1405219,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [84]:
cast_sleuth_2007 = cast[
  (cast['title'] == 'Sleuth') &
  (cast['year'] == 2007)]
cast_sleuth_2007.sort_values(by='n')

          title  year                 name     type          character    n
316653   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1254632  Sleuth  2007             Jude Law    actor               Milo  2.0
1751872  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
251883   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
362593   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2635707  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3244050  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [87]:
cast_hamlet_1921 = cast[
  (cast['title'] == 'Hamlet') &
  (cast['year'] == 1921)]
print(f'There are {cast_hamlet_1921.shape[0]} roles in the 1921 movie \'Hamlet\'.')

There are 9 roles in the 1921 movie 'Hamlet'.

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [90]:
cast_hamlet_1996 = cast[
  (cast['title'] == 'Hamlet') &
  (cast['year'] == 1996)]
print(f'There are {cast_hamlet_1996.shape[0]} roles in the 1996 version of \'Hamlet\'.')

There are 54 roles in the 1996 version of 'Hamlet'.

### How many "Hamlet" roles have been listed in all film credits through history?

In [93]:
cast_hamlet = cast[cast['title'] == 'Hamlet']
print(f'There have been {cast_hamlet.shape[0]} roles for all \'Hamlet\' movies.')

There have been 313 roles for all 'Hamlet' movies.

### How many people have played an "Ophelia"?

In [122]:
cast_char_ophelia = cast[cast['character'] == 'Ophelia']
print(f'There have been {cast_char_ophelia.shape[0]} actors who have played \'Ophelia\'.')

There have been 111 actors who have played 'Ophelia'.

### How many people have played a role called "The Dude"?

In [124]:
cast_char_thedude = cast[cast['character'] == 'The Dude']
print(f'There have been {cast_char_thedude.shape[0]} actors who have played \'The Dude\'.')

There have been 18 actors who have played 'The Dude'.

### How many people have played a role called "The Stranger"?

In [125]:
cast_char_thestranger = cast[cast['character'] == 'The Stranger']
print(f'There have been {cast_char_thestranger.shape[0]} actors who have played \'The Stranger\'.')

There have been 212 actors who have played 'The Stranger'.

### How many roles has Sidney Poitier played throughout his career?

In [127]:
cast_sidney_poitier = cast[cast['name'] == 'Sidney Poitier']
print(f'\'Sidney Poiter\' has played {cast_sidney_poitier.shape[0]} roles throughout his career.')

'Sidney Poiter' has played 43 roles throughout his career.

### How many roles has Judi Dench played?

In [129]:
cast_judi_dench = cast[cast['name'] == 'Judi Dench']
print(f'\'Judi Dench\' has played {cast_judi_dench.shape[0]} roles throughout her career.')

'Judi Dench' has played 54 roles throughout her career.

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [134]:
cast[
  (cast['n'] == 2) &
  (cast['name'] == 'Cary Grant') &
  (cast['year'].between(1940, 1950, inclusive='left'))]

                   title  year        name   type    character    n
845513  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
845523    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [138]:
cast_cary_grant_1940s_lead = cast[
  (cast['n'] == 1) &
  (cast['name'] == 'Cary Grant') &
  (cast['year'].between(1940, 1950, inclusive='left'))]

cast_cary_grant_1940s_lead.sort_values(by='year')

,title,year,name,type,character,n
845539,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
845495,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
845541,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
845528,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
845543,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
845519,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
845486,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
845511,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
845512,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
845520,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
845478,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
845515,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
845514,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
845517,Notorious,1946,Cary Grant,actor,Devlin,1.0
845535,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
845536,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
845510,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
845490,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
845499,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [142]:
cast['type'].unique()

array(['actor', 'actress'], dtype=object)

In [143]:
cast_1950s_actors = cast[
  (cast['type'] == 'actor') &
  (cast['year'].between(1950, 1959, inclusive='left'))]
print(f'There were {cast_1950s_actors.shape[0]} roles for actors in the 1950s.')

There were 141755 roles for actors in the 1950s.

### How many roles were avilable for actresses in the 1950s?

In [144]:
cast_1950s_actresses = cast[
  (cast['type'] == 'actress') &
  (cast['year'].between(1950, 1959, inclusive='left'))]
print(f'There were {cast_1950s_actresses.shape[0]} roles for actresses in the 1950s.')

There were 50975 roles for actresses in the 1950s.

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [152]:
cast_lead_to_1980 = cast[
  (cast['n'] == 1) &
  (cast['year'] < 1980)]

print(f'There have been {cast_lead_to_1980.shape[0]} leading roles available in all film history up to 1980.')

There have been 62951 leading roles available in all film history up to 1980.

### How many non-leading roles were available through from the beginning of film history through 1980?

In [151]:
cast_nonlead_to_1980 = cast[
  (cast['n'] != 1) &
  (cast['year'] < 1980)]

print(f'There have been {cast_nonlead_to_1980.shape[0]} non-leading roles available in all film history up to 1980.')

There have been 1075784 non-leading roles available in all film history up to 1980.

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [154]:
cast_unranked_to_1980 = cast[
  (cast['n'].isnull()) & 
  (cast['year'] < 1980)]

print(f'There have been {cast_unranked_to_1980.shape[0]} unranked roles available in all film history up to 1980.')

There have been 434895 unranked roles available in all film history up to 1980.