# What is a Database?
A `database` is a collection of data (information) stored electronically in a structured manner. The way the data is organized determines the type of database.

## Types of Database

### Hierarchical Databases
Just as in any hierarchy, this database categorizes data in ranks or levels, and the ranks are expressed using links. It is organized in a parent-child relationship, and the entire database would resemble a tree.

</br></br><img src="https://i.imgur.com/23nTU9D.png" width="1000"></br></br>

#### Components of a Hierarchical Database
A `hierarchical` database consists of a collection of records connected to each other through links. Each record is a collection of fields or attributes, each of which contains only one data value. A child record can only be linked to only one parent record.

`record`[`fields/attributes`] <-- (`link`) --> `record`[`fields/attributes`]

### Network Databases
A `network` database is a hierarchical database except that the child records can be associated with multiple parent records.

</br></br><img src="https://i.imgur.com/MhP6vhP.png" width="1000"></br></br>

### Relational Databases
`Relational` databases are the most mature of all databases. Every record can be linked to every other piece of record.

#### Components of a Relational Database
- Attributes
- Entity
- Relationships
- Cardinality

### NoSQL Databases
A `NoSQL` is a non-relational database that provides a mechanism for the storage and retrieval of data. A NoSQL database includes simplicity of design, simpler horizontal scaling to clusters of machines, and finer control over availability. The data structures used by NoSQL databases are very different from tables in relational databases, which makes some operations faster in NoSQL.

## Database Management Systems
A `Database Management System` is a computerized data-keeping system. Users of the system are given facilities to perform several kinds of operations to either manipulate the data or manage the database structure itself. They are categorized according to their database structure or type: hierarchical, network, and relational.

# Relational Databases
A database stores data in an organized way so that it can be searched and retrieved later. The database is made up of one or more tables. All rows have the same columns, and each column contains the data. Data can be inserted (created), retried, updated, and deleted from a table--CRUD abbreviated.

A relational database is a type of database that organizes data into tables and creates links between these tables, based on defined relationships. These relationships enables the user to retrieve and combine data from one or more tables with a single query.

Below, we'll be using Foursquare API to build a database of bars and venues that accommodates live bands in Toronto and the GTA.

In [1]:
from dotenv import load_dotenv
load_dotenv()

import requests
import os

In [2]:
FSQ_API_KEY = os.environ["FOURSQUARE_API_KEY"]

To understand how to search the FSQ API for certain types of venues, we must first understand the taxonomy of their categories. FSQ Places includes a hierarchical taxonomy of categories from which each POI record is classified. The 10 parent categories are:
- 10xxx Arts and Entertainment
- 11xxx Business and Professional Services
- 12xxx Community and Government
- 13xxx Dining and Drinking
- 14xxx Event
- 15xxx Health and Medicine
- 16xxx Landmarks and Outdoors
- 17xxx Retail
- 18xxx Sports and Recreation
- 19xxx Travel and Transportation

Each category is ID'd numerically as `10xxx` to `19xxx` in alphabetical order. Each subcategory is then organized numerically with the 3 remaining digits, `xxx`. Because we're looking for venues for live bands, we'll trim our options down to the following parent categories:
- 100xx Arts and Entertainment
- 13xxx Dining and Drinking
- 14xxx Event

Use pandas to import category list and convert to Dataframe to manipulate into usable format.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./_data/places-and-apiv3-categories.csv")

TypeError: read_csv() got an unexpected keyword argument 'index'

In [3]:
df['Cate']

      Unnamed: 0                                     Category Label
0          10000                             Arts and Entertainment
1          10001            Arts and Entertainment > Amusement Park
2          10002                  Arts and Entertainment > Aquarium
3          10003                    Arts and Entertainment > Arcade
4          10004               Arts and Entertainment > Art Gallery
...          ...                                                ...
1228       19065              Travel and Transportation > Cable Car
1229       19066                  Travel and Transportation > Train
1230       19067  Travel and Transportation > Transportation Ser...
1231       19068  Travel and Transportation > Transportation Ser...
1232       19070  Travel and Transportation > Transport Hub > Ai...

[1233 rows x 2 columns]

In [4]:
url = "https://api.foursquare.com/v3/places/search"
headers = {
  "Accept" : "application/json",
  "Authorization" : FSQ_API_KEY}
params = {
  query=""
}
response = requests.get(url, headers=headers)

In [5]:
response.json()

{'type': 'error',
 'message': 'Not logged in',
 'details': 'Authorization header malformed',
 'status': 401}